<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
<p>Hi there.</p>
<p>Welcome to Kitchen Wizard - your personal recipes book.</p>
<p>We are so excited to have you on board.</p>
<p>What are you still waiting for?</p>
<p>Hop right in and start managing your recipes by following the link below.</p>
<a href="{{loginLink}}">Login</a>
</body>
</html>
